<a href="https://colab.research.google.com/github/puneethegde72/Dashboard-and-infographic-creation/blob/main/IPL_data_visualization_and_infographic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd

In [2]:
df = pd.read_csv("matches.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   Season           756 non-null    object
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(4), object(14)
memory usage: 106.4+ KB
None

In [3]:
# Cleanse team names
df.replace({"Rising Pune Supergiants": "Rising Pune Supergiant",
            "Pune Warriors": "Rising Pune Supergiant",
            "Deccan Chargers": "Sunrisers Hyderabad",
            "Delhi Daredevils": "Delhi Capitals"},
           inplace=True)

# Remove rows with no result
df1 = df[df["result"] != "no result"]
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 752 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               752 non-null    int64
 1   Season           752 non-null    object
 2   city             745 non-null    object
 3   date             752 non-null    object
 4   team1            752 non-null    object
 5   team2            752 non-null    object
 6   toss_winner      752 non-null    object
 7   toss_decision    752 non-null    object
 8   result           752 non-null    object
 9   dl_applied       752 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      752 non-null    int64
 12  win_by_wickets   752 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            752 non-null    object
 15  umpire1          750 non-null    object
 16  umpire2          750 non-null    object
 17  umpire3          118 non-null    object
dtypes: int64(4), object(14)
memory usage: 111.6+ KB
None